
.listStyle {
  left: -3rem;
}

.socialIcon {
  font-size: 1.5rem;
  margin-right: 0.75rem;
  color: #fff;
  &:hover {
    color: #D9D458;
  }
}

.formStyle {
  border: 0;
  padding: .375rem .75rem;
}
