
@import 'bsc-theme-fonts.scss';

.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
    padding-left: 0;
    padding-right: 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 1.25rem;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .fa {
    margin-right: 5px;
}

.collapse {
  display: none;
  &.show {
    display: block;
  }
}

.list-group-item-action:focus, .list-group-item-action:hover {
	// background-color: transparent;
}

a.list-group-item {
	color: #495057;
}

.list-group-item:focus, .list-group-item:hover {
    z-index: 0;
}
